@import "./variables";
@import "./typography";
@import "./colors";
@import "./mixins";
// @import "./form-controls.scss";

* {
  font-family: $primaryFont;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  @include font(normal, $primaryFont);
}

.App {
  height: 100vh;
}