// Variables for config
$zero: 0;

// Variables for padding
$p-0: $zero;
$p-8px: 8px;
$p-10px: 10px;
$p-13px: 13px;
$p-12px: 12px;
$p-16px: 16px;


// Variables for margin
$m-0: $zero;
$mb-16px: 16px;


// font
$primaryFont: "Proxima Nova Rg,Helvetica,Arial,sans-serif";